# Ігнорування системних файлів
*.log            # Усі файли з розширенням .log
*.tmp            # Усі файли з розширенням .tmp
*.bak            # Резервні файли з розширенням .bak

# Ігнорування специфічних системних файлів
.DS_Store        # Системний файл macOS
Thumbs.db        # Системний файл Windows

# Ігнорування папок
/node_modules/   # Папка для пакетів npm (JavaScript)
/venv/           # Папка з віртуальним середовищем (Python)
/build/          # Папка з файлами збірки

# Ігнорування конфігураційних файлів
*.env            # Конфігураційний файл з секретними змінними середовища
.vscode/         # Налаштування редактора Visual Studio Code
*.swp            # Тимчасові файли редактора Vim

# Ігнорування скомпільованих файлів
*.class          # Java-файли
*.o              # Об'єктні файли для C/C++
